<!DOCTYPE html>
<html>

<head>
  <title>Your Customer 4-Square</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id='app'>

  </div>

  <script type="text/javascript" src="build/bundle.js"></script>
</body>

</html>